.main-container {
    padding: 0 60px;
}

.filters {
    margin-top: 100px;
    margin-bottom: 50px;
}

.filterbutton {
    text-align: end;
}

.filterbutton button {
    color: #616161;
    border: #616161 solid 1px;
    font-size: 15px;
    padding: 0.5rem 1em;
}

.filterbutton button:hover,
.filterbutton button:active {
    color: white;
    border: #dd7155 solid 1px;
    background-color: #dd7155;
    transition: all 0.2s ease 0s;
}

.filterhr {
    color: #9e9e9e;
    width: 90%;
}

.checkboxes label {
    margin-right: 5px;
    color: #616161;
    border: #616161 solid 1px;
}

.checkboxes label:hover,
.btn-check:active+.btn-outline-dark,
.btn-check:checked+.btn-outline-dark,
.btn-outline-dark.active,
.btn-outline-dark.dropdown-toggle.show,
.btn-outline-dark:active {
    color: white;
    border: #dd7155 solid 1px;
    background-color: #dd7155;
}

.btn-check:focus+.btn-outline-dark,
.btn-outline-dark:focus {
    box-shadow: none !important;
}

.articles-col {
    margin-bottom: 24px;
}

.article {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 20%);
}

.article-image {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.article-title {
    padding: 1.25rem;
}

.article-title:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* Newspapers Colours */

.color-hindustan-times {
    background-color: #00b1cd !important;
}

.color-times-of-india {
    background-color: #e21b22 !important;
}

.color-cnn {
    background-color: #cc0000 !important;
}

.color-news18 {
    background-color: #001e42 !important;
}