{% extends 'news/base.html' %} {% load static %} {% block title %} Daily Cup {% endblock %} {% block styling %}
<link rel="stylesheet" href="{% static 'news/css/home-page.css' %}"> {% endblock %} {% block content %}
<div class="main-container">
    <div class="filters">

        <div class="filterbutton">
            <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" id='filter-button' data-bs-target="#collapsefilter">
                    Filters <i class="fas fa-filter"></i>
                </button>
        </div>

        <div class="collapse" id="collapsefilter">
            <div class="checkboxes">
                <p>When:</p>
                <input type="checkbox" class="btn-check" id="today" autocomplete="off">
                <label class="btn btn-outline-dark" for="today">Today</label>
                <input type="checkbox" class="btn-check" id="yesterday" autocomplete="off">
                <label class="btn btn-outline-dark" for="yesterday">Yesterday</label>
                <input type="checkbox" class="btn-check" id="daybeforeyesterday" autocomplete="off">
                <label class="btn btn-outline-dark" for="daybeforeyesterday">Day Before Yesterday</label>

                <hr class="filterhr">
                <p>Websites:</p>
                <input type="checkbox" class="btn-check interested-news" id="times-of-india" onchange='update_feed();' autocomplete="off">
                <label class="btn btn-outline-dark" for="times-of-india">Times of India</label>
                <input type="checkbox" class="btn-check interested-news" id="hindustan-times" onchange='update_feed();' autocomplete="off">
                <label class="btn btn-outline-dark" for="hindustan-times">Hindustan Times</label>
                <input type="checkbox" class="btn-check interested-news" id="cnn" onchange='update_feed();' autocomplete="off">
                <label class="btn btn-outline-dark" for="cnn">CNN</label>
                <input type="checkbox" class="btn-check interested-news" id="news-18" onchange='update_feed();' autocomplete="off">
                <label class="btn btn-outline-dark" for="news-18">News 18</label>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row articles-row">
            {% for headline in headlines %}
            <div class="col-12 col-md-6 col-lg-4 articles-col card-{{headline.channel_short}}">
                <div class="article">
                    <img class="article-image" src='{{headline.image_src}}' onerror="this.onerror=null;this.src='{% static 'news/images/blank_image.jpg' %}'">

                    <div class="article-title">
                        <a href='{{headline.source}}'>
                            <p>{{headline.title}}</p>
                        </a>
                        <span class="badge bg-primary color-{{headline.channel_short}}">{{headline.channel}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} {% block plugins %}
<script src="{% static 'news/js/script.js' %}"></script>
<script>
    document.querySelector('#filter-button').click();
    let interested_news = {
        {
            interested_news | safe
        }
    };
    for (channel of interested_news) {
        document.querySelector('#' + channel).checked = true;
    }
    update_feed();
</script>
{% endblock %}