{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'news/images/LogoX.png' %}" type="image/x-icon">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'news/css/bootstrap.min.css' %}">

    <!-- Font-awesome -->
    <link rel="stylesheet" href="{% static 'news/css/fontawesome.min.css' %}" />
    <script src="https://kit.fontawesome.com/555f71f953.js" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'news/css/layout.css' %}">
    {% block styling %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <!---------------------------------------- Navbar ---------------------------------------->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid" style="padding: 0 !important;">

            <a class="navbar-brand" href="{% url 'news:index' %}"><img class="logo" src="{% static 'news/images/Logo.png' %}" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars" style="color: white;"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto" id="nav_contents">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Today</a>
                    </li>
                    {% if request.session.logged_in %}
                        <li class="nav-item">
                            <a type="button" href="{% url 'news:signout' %}" class="btn btn-outline-dark signup">Sign Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a type="button" href="{% url 'news:signup' %}" class="btn btn-outline-dark signup">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a type="button" href="{% url 'news:login' %}" class="btn btn-warning login">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}	{% endblock %}

    <div class="footer">
        <div class="footer-container">
            <a class="navbar-brand" href="#"><img class="logo" src="{% static 'news/images/LogoF.png' %}" alt="Logo"></a>
            <div class="quicklinks ms-auto">
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="#">Explore</a>
                <a class="nav-link" href="#">Support</a>
                <a class="nav-link" href="#">Terms and Conditions</a>
                <a class="nav-link" href="#">Privacy Policy</a>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="{% static 'news/js/bootstrap.bundle.min.js' %}"></script>

	{% block plugins %} {% endblock %}

    </body>
</html>