{% extends 'news/base.html' %}
{% load static %}

{% block title %} Daily Cup {% endblock %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'news/css/home-page.css' %}">
{% endblock %}

{% block content %}

    <div class="main-container">
        <div class="filters">

            <div class="filterbutton">
                <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefilter">
                    Filters <i class="fas fa-filter"></i>
                </button>
            </div>

            <div class="collapse" id="collapsefilter">
                <div class="checkboxes">
                    <p>When:</p>
                    <input type="checkbox" class="btn-check" id="today" autocomplete="off">
                    <label class="btn btn-outline-dark" for="today">Today</label>
                    <input type="checkbox" class="btn-check" id="yesterday" autocomplete="off">
                    <label class="btn btn-outline-dark" for="yesterday">Yesterday</label>
                    <input type="checkbox" class="btn-check" id="daybeforeyesterday" autocomplete="off">
                    <label class="btn btn-outline-dark" for="daybeforeyesterday">Day Before Yesterday</label>

                    <hr class="filterhr">
                    <p>Websites:</p>
                    <input type="checkbox" class="btn-check" id="timesofindia" autocomplete="off">
                    <label class="btn btn-outline-dark" for="timesofindia">Times of India</label>
                    <input type="checkbox" class="btn-check" id="hindustantimes" autocomplete="off">
                    <label class="btn btn-outline-dark" for="hindustantimes">Hindustan Times</label>
                    <input type="checkbox" class="btn-check" id="cnn" autocomplete="off">
                    <label class="btn btn-outline-dark" for="cnn">CNN</label>
                    <input type="checkbox" class="btn-check" id="news18" autocomplete="off">
                    <label class="btn btn-outline-dark" for="news18">News 18</label>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row articles-row">
                <div class="col-12 col-md-6 col-lg-4 articles-col">
                    <div class="article">
                        <img class="article-image" src="https://images.hindustantimes.com/img/2021/11/16/550x309/PM_Hercules_1637049615987_1637049616216.jpeg" alt="">
                        <div class="article-title">
                            <p>Kurebhar airstrip is part IAF’s op-plan to counter China</p>
                            <span class="badge bg-primary color-hindustan-times">Hindustan Times</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="article">
                        <img class="article-image" src="https://images.hindustantimes.com/img/2021/11/16/550x309/PM_Hercules_1637049615987_1637049616216.jpeg" alt="">
                        <div class="article-title">
                            <p>Kurebhar airstrip is part IAF’s op-plan to counter China</p>
                            <span class="badge bg-primary color-times-of-india">Times of India</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="article">
                        <img class="article-image" src="https://images.hindustantimes.com/img/2021/11/16/550x309/PM_Hercules_1637049615987_1637049616216.jpeg" alt="">
                        <div class="article-title">
                            <p>Kurebhar airstrip is part IAF’s op-plan to counter China</p>
                            <span class="badge bg-primary color-cnn">CNN</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="article">
                        <img class="article-image" src="https://images.hindustantimes.com/img/2021/11/16/550x309/PM_Hercules_1637049615987_1637049616216.jpeg" alt="">
                        <div class="article-title">
                            <p>Kurebhar airstrip is part IAF’s op-plan to counter China</p>
                            <span class="badge bg-primary color-news18">News 18</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}