body {
    overflow-x: hidden;
}

.banner {
    background-image: url("../images/login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 0 60px;
}

.banner-text-row {
    width: 100%;
    margin: 0;
    padding-top: 150px;
}

.banner-text-col {
    padding: 0;
}

.banner h2 {
    font-weight: 600;
    margin: 0;
    letter-spacing: -1px;
    color: #4e4e4e;
}

.banner span {
    color: #dd7155;
}

.banner .tagline {
    margin-top: 10px;
}

.form-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}

.form-container input {
    width: 100%;
    padding: 0.6rem 0.75rem;
    border: none;
    background-color: #f5f5f5;
    margin-bottom: 15px;
    border-radius: 8px;
}

.form-container input:focus {
    outline: #dd7155 solid 1.5px;
    background-color: white;
}

.options {
    color: #dd7155;
    text-decoration: underline;
    font-size: 14px;
    margin: 5px 0;
}

.orangebutton:focus,
.orangebutton:active {
    box-shadow: none !important;
}

.orangebutton {
    color: white;
    border: #dd7155 solid 1px;
    background-color: #dd7155;
    border-radius: 20px;
    font-size: 15px;
    padding: 0.5rem 2em;
}

.orangebutton:hover {
    color: white;
    border: #dd7155 solid 1px;
    background-color: #dd7155;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.2s ease 0s;
}

.or-line {
    display: flex;
    flex-direction: row;
    color: #757575;
    font-size: 0.9rem;
    margin: 15px 0;
}

.or-line:before,
.or-line:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
    margin-right: 5px;
    margin-left: 5px;
}

.checkboxes label {
    margin-right: 5px;
    margin-bottom: 10px;
    color: #616161;
    border: #616161 solid 1px;
}

.checkboxes label:hover,
.btn-check:active+.btn-outline-dark,
.btn-check:checked+.btn-outline-dark,
.btn-outline-dark.active,
.btn-outline-dark.dropdown-toggle.show,
.btn-outline-dark:active {
    color: white;
    border: #dd7155 solid 1px;
    background-color: #dd7155;
}

.btn-check:focus+.btn-outline-dark,
.btn-outline-dark:focus {
    box-shadow: none !important;
}

.continue {
    width: 100%;
    margin-top: 10px;
}